# copy to /etc/systemd/system/spotify-add.service

[Unit]
Description=Spotify Add Web-Tool for Phoniebox
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/RPi-Jukebox-RFID/spotify_scripts/spotify_add.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
