[Unit]
Description=Spotify Add Web-Tool fuer Phoniebox
After=network.target

[Service]
Type=simple
# Passt die Pfade an, falls die Datei woanders liegt oder ein anderer User laeuft
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/spotify_add_v3.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
